.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
  }

.header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 0px;
}

.list{
    display: flex;
    gap: 20px;

}

.item{
    color:#1E2023;
    font-family: "Bebas Neue", sans-serif;
   font-size: 16px;
    line-height: 1.5;
}

.button{
    border-radius: 30px;
    background-color: #E51C2F;
    border: 1px solid #E51C2F;
    color: #FFFFFF;
    text-align: center;
   padding: 10px 15px;
   font-family: "Bebas Neue", sans-serif;
   font-style: bold;
   font-size: 20px;
   cursor: pointer;
}

.button:hover{
    background-color:  #FFFFFF;
    color: #E51C2F;
}